<ul *ngFor="let f of listaFilme" class="tamanho row col-xs-12">
     <div class="col-md-4 col-xs-12 img">
         <li class="li-imagem">
             <img [src]="'http://image.tmdb.org/t/p/w400'+f.poster_path" alt="teste" class="img-responsive"/>
          </li>
      </div>

    <div class="col-md-8 informacao">
        <li class="titulo">
          <h1>
            <h6>{{f.id}}</h6>
            <span class="span-original_title">{{f.original_title}}</span>
          </h1>
          <span class="span-release_date">{{f.release_date | date:'dd/MM/yyyy'}}</span>
        </li>

        <div class="linha"></div>
      
        <li class="li-original_language">
            <h6>
              <label class="lb-original_language">Linguagem:</label>
              <span class="span-original_language">({{f.original_language}})</span>
            </h6>
        </li>
        <div class="linha"></div>

        <li class="li-overview">
            <h5>
              <label class="lb-overview">Visão Geral: </label>
              <span class="span-overview">{{f.overview}}</span>
            </h5>
        </li>

    </div>
</ul>
